langgraph
langchain
langchain-groq
langchain-tavily
tavily
requests
python-dotenv
pydantic
python-dotenv
pycountry
requests
airportsdata
fastapi
uvicorn
jinja2
psycopg[binary,pool]
langgraph-checkpoint-postgres

